* {
  margin: 0;
  padding: 0;
}

body {
  color: black;
  background: url(../img/back.gif) repeat top left;
  font-family: Georgia, serif;
}

a#navlink {
  display: none;
}

#wrapper {
  position: relative;
  width: 920px;
  margin: 0 auto;
}

#ads {
  position: absolute;
  top: 280px;
  left: 870px;
  width: 120px;
  height: 600px;
}

#head {
  background: url(../img/header-920.jpg) no-repeat top left;
  height: 360px;
  width: 920px;
}

h1 {
  text-indent: -9999px;
  line-height: 360px;
  height: 100%;
  width: 100%;
}

h1 a {
  position: absolute;
  display: block;
  line-height: 25px;
  width: 233px;
  height: 36px;
  left: 25px;
  top: 25px;
  text-decoration: none;
  text-indent: -9999px;
}

#container {
  background: url(../img/body-920.jpg) repeat-y top left;
  width: 920px;
}

#content {
  margin: 0 100px 0 50px;
  padding-bottom: 60px;
  line-height: 1.5em;
}

#content p,
#content ul {
  padding-bottom: 1em;
}

#nav {
  list-style: none inside;
  display: block;
  width: 920px;
  position: absolute;
  left: 0;
  top: 0;
}

#nav li {
  position: absolute;
}

#nav li a {
  display: block;
  background-position: top left;
  background-repeat: no-repeat;
  line-height: 100%;
  height: 100%;
  width: 100%;
  text-decoration: none;
  text-indent: -9999px;
  overflow: hidden;
  outline: none;
}

#nav li a:hover,
#nav li.hilite a {
  background-position: bottom left;
}

#nav li#nav_Articles {
  left: 650px;
  top: 53px;
  width: 104px;
  height: 68px;
}

#nav li#nav_Programming {
  left: 707px;
  top: 121px;
  width: 151px;
  height: 75px;
}

#nav li#nav_Fiction {
  left: 647px;
  top: 157px;
  width: 82px;
  height: 54px;
}

#nav li#nav_Contact {
  left: 694px;
  top: 219px;
  width: 175px;
  height: 50px;
}

#nav li#nav_Articles a    { background-image: url(../img/nav_articles-920.gif); }
#nav li#nav_Programming a { background-image: url(../img/nav_prog-920.gif); }
#nav li#nav_Fiction a     { background-image: url(../img/nav_fiction-920.gif); }
#nav li#nav_Contact a     { background-image: url(../img/nav_contact-920.gif); }

a#rss {
  position: absolute;
  top: 293px;
  left: 813px;
  width: 28px;
  height: 34px;
  display: block;
  line-height: 34px;
  text-decoration: none;
  text-indent: -9999px;
  overflow: hidden;
  outline: none;
}

#foot {
  width: 920px;
  height: 110px;
  clear: both;
  margin-top: -50px;
}

#wrapper #foot { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src='../img/foot.png'); }
#wrapper > #foot { background: url(../img/foot.png) no-repeat top left; }

#foot .inner {
  padding-top: 66px;
  padding-right: 54px;
  text-align: right;
  color: #666;
  font-size: 0.82em;
}

#foot a,
#content a {
  color: #666;
}

ul.paginator {
  font-size:0.9em;
  text-align:right;
  list-style:none;
}

ul.paginator li {
  display:inline;
  padding-left:1.5em;
}
